extends ./layout.pug

block pre-include
  - menu = 'product';
  - childMenu = 'attribute';
  title Thuộc tính

block post-include
  script(src=staticURI() + '/js/admin/attribute.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Thuộc tính
      li
        a Danh sách thuộc tính
    ol.button-right.col-sm-4
      li
        a.btn.btn-admin(data-toggle="modal" data-target="#modal-add") Thêm thuộc tính
  section.content.attribute.clearfix
    each item in data
      .col-lg-4.col-md-6.col-sm-12.col-xs-12
        .attribute-card.clearfix(data-id=item.id)
          .title=item.name
            .group-btn
              i.fa.fa-edit.edit-attribute.edit-attribute(data-id=item.id)
              i.fa.fa-trash.delete-attribute(data-id=item.id)
          .option-list
            if item.child
              .clearfix
                .col-sm-8 Tên option
                .col-sm-4.text-right Chỉnh sửa
              each child in item.child
                if child.id
                  .clearfix
                    .col-sm-8=child.name
                    .col-sm-4.text-right
                      i.fa.fa-edit.edit-attribute.edit-option(data-id=child.id)
                      i.fa.fa-trash.delete-attribute(data-id=child.id, data-option=1)
          .col-xs-12.group-add-new-option
            .input-group.w100
              input.form-control(type='text', name="name", placeholder="Tên option")
              .col-xs-12.text-center
                .row
                  button.w100.btn.btn-default.add-new-option(data-parent_id=item.id) Thêm option mới

    #modal-add.modal.fade(role='dialog')
      .modal-dialog
        .modal-content.form-add-attribute
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Thêm
          .modal-body.clearfix
            .form-horizontal
              .box-body
                .form-group
                  label.col-sm-3.control-label Tên thuộc tính
                  .col-sm-9
                    input.form-control(type="text" name="name" placeholder="Kích thước" required)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Đóng
            button.btn.btn-admin.btn-create
              i.fa.fa-floppy-o
              i.fa.fa-circle-o-notch.fa-spin
              | Lưu lại
    #modal-edit.modal.fade(role='dialog')
      .modal-dialog
        .modal-content.form-add-attribute
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Chỉnh sửa
          .modal-body.clearfix
            .form-horizontal
              .box-body
                .form-group
                  label.col-sm-3.control-label Tên thuộc tính
                  .col-sm-9
                    input.form-control(type="text" name="name" placeholder="Kích thước" required)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Đóng
            button.btn.btn-admin.btn-update
              i.fa.fa-floppy-o
              i.fa.fa-circle-o-notch.fa-spin
              | Cập nhật
    #modal-edit-option.modal.fade(role='dialog')
      .modal-dialog
        .modal-content.form-add-attribute
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Chỉnh sửa
          .modal-body.clearfix
            .form-horizontal
              .box-body
                .form-group
                  label.col-sm-3.control-label Tên option
                  .col-sm-9
                    input.form-control(type="text" name="name" placeholder="Kích thước" required)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Đóng
            button.btn.btn-admin.btn-update
              i.fa.fa-floppy-o
              i.fa.fa-circle-o-notch.fa-spin
              | Cập nhật
