extends ./layout.pug
block pre-include
  - var menu = 'article'
  - var childMenu = 'blog'
  title Nhóm bài viết

block post-include
  script(src=staticURI() + '/js/admin/blog.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Bài viết
      li
        a Nhóm bài viết
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      span.middle-inline-block
      li
        a.btn.btn-admin(href="/admin/blog/create") Thêm mới

  section.content
    .box
      .box-body
        table.table.table-bordered.table-striped.nowrap(cellspacing="0" width="100%")
          thead
            tr
              th Id
              th Tiêu đề
              th Người tạo
              th Ngày cập nhật
              th Hiển thị
              th Chỉnh sửa
          tbody
            - var stt = 1
            each item in data
              tr
                td=item.id
                td
                  a(href="/admin/blog/" + item.id target="_blank")=item.title
                td=item.author
                td=item.updated_at
                td
                  if item.display == 1
                    label.label.label-info Có
                  else
                    label.label.label-danger Không
                td
                  a.btn-edit(href="/admin/blog/" + item.id, data-id=item.id, title="Chỉnh sửa")
                    i.fa.fa-pencil-square-o
                  a.btn-remove(data-id=item.id, title="Xóa")
                    i.fa.fa-trash

      .test-tree
        div.view