extends ./layout.pug

block pre-include
  - var menu = 'setting'
  - var childMenu = 'branch'
  title Chỉnh sửa |
    =branch.name

block post-include
  script(src=staticURI() + '/js/admin/branch.js')
  script.
    var region_id = $('select[name="region_id"]').data('value');
    $('select[name="region_id"]').val(region_id);
block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a(href='/admin/branch') Chi nhánh
      li
        a=branch.name

    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin.btn-update-branch(data-id=branch.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Cập nhật

  section.content
    .box.box-info
      .form-horizontal.form-article-update
        .box-body
          .form-group
            label.col-sm-2.control-label Tên
              strong.required  *
            .col-sm-10
              input.form-control(name="name", value=branch.name)
              input.form-control.hidden(name="branch_id", value=branch.id)
          .form-group
            label.col-sm-2.control-label Địa chỉ
            .col-sm-10
              input.form-control(name="address", value=branch.address)
          .form-group
            label.col-sm-2.control-label Tỉnh/Thành phố
            .col-sm-10
              select.form-control(name="region_id" data-value=branch.region_id)
                each region in regions
                  option(value=region.id)=region.name
          .form-group
            label.col-sm-2.control-label Hình đại diện
            form.col-sm-10.form-feature-branch
              if branch.featured_image
                img(src='/uploads/' + branch.featured_image)
              else
                img(src=staticURI() + "/img/default_image.png")
              input.feature-image(type="file" name="upload[]").form-control
              input(type="hidden", name="featured_image", value=branch.featured_image)
          .form-group
            label.col-sm-2.control-label Hotline
            .col-sm-10
              input.form-control(name="hotline", value=branch.hotline)
          .form-group
            label.col-sm-2.control-label Giờ mở cửa
            .col-sm-10
              input.form-control(name="open_hours", value=branch.open_hours)
          .form-group
            label.col-sm-2.control-label Giờ đóng cửa
            .col-sm-10
              input.form-control(name="close_hours", value=branch.close_hours)
          .form-group
            label.col-sm-2.control-label Link
            .col-sm-10
              input.form-control(name="link", value=branch.link)
          .form-group
            label.col-sm-2.control-label Tính tồn kho
            .col-sm-10(style="padding-top: 7px;")
              if branch.calc_inventory
                input(type="checkbox" name="calc_inventory" checked=true)
              else
                input(type="checkbox" name="calc_inventory")
          .form-group
            label.col-sm-2.control-label Kho trung tâm
            .col-sm-10(style="padding-top: 7px;")
              if branch.branch_center
                input(type="checkbox" name="branch_center" checked=true)
              else
                input(type="checkbox" name="branch_center")
          .form-group
            label.col-sm-2.control-label Hiển thị
            .col-sm-10
              if branch.display
                select.form-control(name="display")
                  option(value=1 selected=true) Có
                  option(value=0) Không
              else
                select.form-control(name="display")
                  option(value=1) Có
                  option(value=0 selected=true) Không
