extends ./layout.pug

block pre-include
  title Chỉnh sửa | 
    =data.title
  - var menu = 'product'
  - var childMenu = 'collection'
block post-include
  script(src=staticURI() + '/js/admin/collection.js')
  
block content
	section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Sản phẩm
      li
        a(href='/admin/collection') Nhóm sản phẩm
      li
      	a=data.title

    ol.button-right.col-md-4.col-sm-5.col-xs-12
			span.middle-inline-block
      li
        a.btn.btn-review(href="/" + data.link, target="_blank")
          i.fa.fa-eye
          | Xem trên web
      li
        a.btn.btn-admin.btn-update(data-id=data.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Cập nhật

  section.content
		.box.box-info
		  .form-horizontal.form-collection
		    .box-body
          .form-group
            label.col-sm-2.control-label Nhóm sản phẩm cha
            .col-sm-10
              select.form-control(name="parent_id" data-value=data.parent_id)
                option(value=-1 selected) Chọn nhóm sản phẩm cha...
                each item in collection
                  option(value=item.id, data-breadcrumb=item.breadcrumb, data-link=item.link)=item.breadcrumb
          .form-group
            label.col-sm-2.control-label Tên nhóm sản phẩm
              strong.required  *
            .col-sm-10
              input.form-control(name="title", placeholder="VD: Nhóm sản phẩm Laptop, phụ kiện...", value=data.title)
          .form-group
            label.col-sm-2.control-label Hình đại diện
              br
              span.btn-remove-image(data-image='default_image.png') (Xóa)
            form.col-sm-10.collection-image
              if data.image
                img.image(src="/uploads/" + resize(data.image, 240))
              else
                img.image(src=staticURI() + "/img/default_image.png")
              input.upload.form-control(type="file" name="upload[]" data-type="image")
              input(type="hidden" name="image" value=data.image)
          .form-group
            label.col-sm-2.control-label Banner
              br
              span.btn-remove-image(data-image='default_image_l.jpg') (Xóa)
            form.col-sm-10.collection-banner
              if data.banner
                img.banner(src="/uploads/" + data.banner)
              else
                img.banner(src=staticURI() + "/img/default_image_l.jpg")
              input.upload.form-control(type="file" name="upload[]" data-type="banner")
              input(type="hidden" name="banner" value=data.banner)
          .form-group
            label.col-sm-2.control-label Mô tả
            .col-sm-10
              textarea.form-control(name="description")=data.description
          .form-group
            label.col-sm-2.control-label Nội dung
            .col-sm-10
              textarea.form-control#content=data.content
    .box
      .form-horizontal.form-collection
        .box-body
          .form-group
            label.col-sm-2.control-label
              h4 Tối ưu SEO
          .form-group
            label.col-sm-2.control-label Tiêu đề trang
              p (Tối đa 70 ký tự)
            .col-sm-10
              input.form-control(name="meta_title", placeholder="Laptop Sony chính hãng" value=data.meta_title)
          .form-group
            label.col-sm-2.control-label Mô tả trang
              p (Tối đa 160 ký tự)
            .col-sm-10
              textarea.form-control(name="meta_description", placeholder="Laptop 2nd nhập US, Chuyên Laptop văn phòng và Đồ họa")=data.meta_description
