doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon" href=staticURI() + "/img/favicon.ico")
    link(rel="stylesheet", href=staticURI() + '/libs/bootstrap.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/dataTables/dataTables.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/dataTables/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/dataTables/rowReorder.dataTables.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/dataTables/responsive.dataTables.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/jstree/themes/default/style.min.css')
    link(rel="stylesheet", href=staticURI() + '/libs/font-awesome.min.css')
    link(rel="stylesheet", href=staticURI() + '/libs/simple-line-icons.css')
    link(rel='stylesheet', href=staticURI() + '/libs/toastr.min.css')
    link(rel='stylesheet', href=staticURI() + '/libs/AdminLTE.min.css')
    link(rel="stylesheet", href=staticURI() + "/libs/chosen.min.css")
    link(rel="stylesheet", href=staticURI() + "/css/admin.css")
    script(src=staticURI() + '/libs/jquery.min.js')
    script(src=staticURI() + '/libs/bootstrap.min.js')
    script(src=staticURI() + '/libs/toastr.min.js')
    script(src=staticURI() + '/libs/app.min.js')
    script(src=staticURI() + '/libs/tmpl.min.js')
    script(src=staticURI() + '/libs/dataTables/jquery.dataTables.min.js')
    script(src=staticURI() + '/libs/dataTables/dataTables.bootstrap.min.js')
    script(src=staticURI() + '/libs/dataTables/dataTables.rowReorder.min.js')
    script(src=staticURI() + '/libs/dataTables/dataTables.responsive.min.js')
    script(src=staticURI() + '/libs/jstree/jstree.min.js')
    script(src=staticURI() +'/libs/bootstrap-select.min.js')
    script(src=staticURI() + '/libs/chosen.jquery.min.js')
    script(src=staticURI() + '/libs/tinymce/tinymce.min.js')
    //- include ../../snippet/oneSignal.pug
    block pre-include
  body(data-uri=staticURI())
    .wrapper
      include snippet/sidebar
      include snippet/tmpl
      .col-xs-12.visible-xs
        include snippet/header-mobile
      .content-wrapper
        block content
      include snippet/modal-change-password
      script(src=staticURI() + '/js/admin/script.js')
      block post-include
