extends ./layout.pug
block pre-include
  - var menu = 'article'
  - var childMenu = 'page'
  title Chỉnh sửa | 
    =data.title

block post-include
  script(src=staticURI() + '/js/admin/page.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Trang nội dung
      li
        a Chỉnh sửa
      li
        a=data.title

    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-review(href="/" + data.link, target="_blank")
          i.fa.fa-eye
          | Xem trên web
      li
        a.btn.btn-admin.btn-update-page(data-id=data.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại

  section.content.page
    .box.box-info
      .form-horizontal.form-page
        .box-body
          .form-group
            label.col-sm-2.control-label Tiêu đề
              strong.required  *
            .col-sm-10
              input.form-control(name="title", data-title='', data-handle='', placeholder="Tiêu đề", value=data.title)
          .form-group
            label.col-sm-2.control-label Handle
              strong.required  *
            .col-sm-10
              input.form-control(name="handle", value=data.handle)
          .form-group
            label.col-sm-2.control-label Hình đại diện
              img.no-border.loading(src="/images/loading.gif").hidden
            form.col-sm-10
              if data.image
                img(src="/uploads/" + resize(data.image, 240))
              else
                img(src=staticURI() + "/img/default_image.png")
              input.feature-image(type="file" name="upload[]").form-control
              input(type="hidden" name="image" value=data.image)
          .form-group
            label.col-sm-2.control-label Mô tả
              strong.required  *
            .col-sm-10
              textarea.form-control(name="description")=data.description
          .form-group
            label.col-sm-2.control-label Mô tả SEO
            .col-sm-10
              textarea.form-control(name="description_seo")=data.description_seo
          .form-group
            label.col-sm-2.control-label Nội dung
              strong.required  *
            .col-sm-10
              textarea.form-control#page_content(data-value=data.content)
          .form-group
            label.col-sm-2.control-label Meta robots
            .col-sm-10
              select.form-control(name="meta_robots" data-value=data.meta_robots)
                option(value="index, follow") Index, Follow
                option(value="noindex, follow") No Index, Follow
                option(value="index, nofollow") Index, No Follow
                option(value="noindex, nofollow") No Index, No Follow
          script.
            var meta = $('select[name="meta_robots"]').data('value');
            $('select[name="meta_robots"]').val(meta);
          .form-group
            label.col-sm-2.control-label Hiển thị
            .col-sm-10
              select.form-control(name="display")
                if data.display
                  option(value="0") Không
                  option(value="1" selected) Có
                else
                  option(value="0") Không
                  option(value="1") Có
