extends ./layout.pug
block pre-include
	title Danh sách sản phẩm
	- var menu = 'product';
	- var childMenu = 'product';

block post-include
	script(src=staticURI() +'/js/admin/product.js')
	script.
		var tblProduct = $("#table-list-product").DataTable({
			aaSorting: [],
			bDestroy: true,
			rowReorder: {
				selector: 'td:nth-child(2)'
			},
			responsive: true,
			rowReorder: false,
			fnRowCallback: function(a, b, c, d) {
				var img = $(a).find('img')[0];
				var dataSrc = $(img).data('src');
				if (dataSrc) $(img).attr('src', dataSrc);
			}
		});

block content
	section.content-header.clearfix
		ol.breadcrumb.col-sm-8.hidden-xs
			li
				a Sản phẩm
			li
				a(href='/admin/product') Danh sách sản phẩm
		ol.button-right.col-sm-4.col.xs-12
			li
				a.btn.btn-admin(href="/admin/products/new")
					| Tạo sản phẩm

	section.content
		.box
			.box-body.clearfix
				table#table-list-product.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
					thead
						tr
							td Tên sản phẩm
							td Meta title
							td Meta description
							td Meta robots
							td Hiển thị
							td Chỉnh sửa
					tbody
						each product in data
							tr
								td
									a(href="/admin/products/" + product.id)=product.title
								td=product.meta_title
								td=product.meta_description
								td=product.meta_robots
								td.text-center
									if product.display == 1
										| Có
									else
										| Không
								td.text-center
									a.btn-edit(href="/admin/products/" + product.id)
										i.fa.fa-pencil-square-o
									a.btn-remove.btn-remove-product(data-id=product.id)
                    i.fa.fa-trash
