extends ./layout.pug
block pre-include
	title Danh sách sản phẩm
	- var menu = 'product';
	- var childMenu = 'list';

block post-include
	script(src=staticURI() +'/js/admin/product.js')
	script.
		var tblProduct = $("#table-list-product").DataTable({
			aaSorting: [],
			bDestroy: true,
			rowReorder: {
				selector: 'td:nth-child(2)'
			},
			responsive: true,
			rowReorder: false,
			fnRowCallback: function(a, b, c, d) {
				var img = $(a).find('img')[0];
				var dataSrc = $(img).data('src');
				if (dataSrc) $(img).attr('src', dataSrc);
			}
		});

block content
	section.content-header.clearfix
		ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
			li
				a Sản phẩm
			li
				a(href='/admin/product') Danh sách sản phẩm
		ol.button-right.col-md-4.col-sm-5.col-xs-12
			span.middle-inline-block
				li
					a.btn.btn-admin(href="/admin/product/new") Tạo sản phẩm

	section.content
		.box
			.box-body.clearfix
				table#table-list-product.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
					thead
						tr
							td
							td Barcode
							td Tên sản phẩm
							td Hiển thị
							td Tồn kho
							td Chỉnh sửa
					tbody
						each product in products
							tr
								td.image
									if product.featured_image
										img(src=staticURI() + "/img/no-image.png", data-src="/uploads/" + resize(product.featured_image, 240))
									else
										img(src=staticURI() + "/img/no-image.png")
								td=product.barcode
								td
									a(href="/admin/san-pham/" + product.id target="_blank")=product.title
								td.text-center
									if product.display == 1
										| Có
									else
										| Không
								td.text-center=product.inventory
								td.text-center
									a.btn-edit(href="/admin/san-pham/" + product.id)
										i.fa.fa-pencil-square-o
