extends ./layout.pug
block pre-include
  - var menu = 'setting'
  - var childMenu = 'redirect'
  title Redirect 301
block post-include
  script(src=staticURI() + '/js/admin/redirect.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a Redirect 301
        
    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin(data-toggle="modal" data-target="#modal-add") Thêm mới

  section.content
    .box
      .box-body
        .form-group.clearfix
          label.col-sm-1.text-right Chọn file
            br
            a(href="/excel/redirect.xlsx") File mẫu
          .col-sm-10
            form#import(enctype="multipart/form-data")
              input#file(type="file" name="file")
              br
              button.btn.btn-admin.btn-import
                i.fa.fa-floppy-o
                | Import
        br
        table#table-list-video.table-list-page.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
          thead
            tr
              th.col-sm-5 Url cũ
              th.col-sm-5 Url mới
              th.col-sm-2.text-center Chỉnh sửa
          tbody
            each item in data
              tr
                td.col-sm-6.old=item.old
                td.col-sm-4.new=item.new
                td.col-sm-2.text-center
                  a.btn-edit(data-id=item.id, title="Chỉnh sửa")
                    i.fa.fa-pencil-square-o
                  a.btn-remove(data-id=item.id, title="Xóa")
                    i.fa.fa-trash
  #modal-add.modal.fade(role='dialog')
    .modal-dialog.form-horizontal
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Thêm mới
        .modal-body
          .form-group.clearfix
            label.col-sm-2.control-label Url cũ
              strong.required  *
            .col-sm-10
              input.form-control(name="old" required)
          .form-group.clearfix
            label.col-sm-2.control-label Url mới
              strong.required  *
            .col-sm-10
              input.form-control(name="new" required)
        .modal-footer
          .col-sm-12
            button.btn.btn-default(data-dismiss='modal') Đóng
            button.btn.btn-primary(type='submit') Thêm
            
  #modal-edit.modal.fade(role='dialog')
    .modal-dialog.form-horizontal
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Chỉnh sửa
        .modal-body
          .form-group.clearfix
            label.col-sm-2.control-label Url cũ
              strong.required  *
            .col-sm-10
              input.form-control(name="old" required)
          .form-group.clearfix
            label.col-sm-2.control-label Url mới
              strong.required  *
            .col-sm-10
              input.form-control(name="new" required)
        .modal-footer
          .col-sm-12
            button.btn.btn-default(data-dismiss='modal') Đóng
            button.btn.btn-primary(type='submit') Cập nhật

  
