extends ./layout.pug
block pre-include
  - var menu = 'setting'
  - var childMenu = 'meta'
  title Meta title, meta description

block post-include
  script(src=staticURI() + '/js/admin/setting.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a Meta title, meta description
        
    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin.btn-update-setting-meta-title
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.article
    .box.box-info
      .form-horizontal.form-shop-info
        .box-body
          .form-group
            label.col-sm-2.control-label Trang hàng mới về - Meta Title
            .col-sm-10
              input.form-control(name="meta_title_new_product" placeholder="Balo Hàng Hiệu - Hệ thống Shop BALÔ online đầu tiên tại Việt Nam" value=meta_title_new_product)
          .form-group
            label.col-sm-2.control-label Trang hàng mới về - Meta Description
            .col-sm-10
              textarea.form-control(rows="6" name="meta_description_new_product" placeholder="MIA.vn Hệ Thống Siêu Thị bán lẻ vali, balo, túi xách, phụ kiện chính hãng hàng đầu Việt Nam")=meta_description_new_product
          .form-group
            label.col-sm-2.control-label Trang SaleOff - Meta Title
            .col-sm-10
              input.form-control(name="meta_title_saleoff" placeholder="Balo Hàng Hiệu - Hệ thống Shop BALÔ online đầu tiên tại Việt Nam" value=meta_title_saleoff)
          .form-group
            label.col-sm-2.control-label Trang SaleOff - Meta Description
            .col-sm-10
              textarea.form-control(rows="6" name="meta_description_saleoff" placeholder="MIA.vn Hệ Thống Siêu Thị bán lẻ vali, balo, túi xách, phụ kiện chính hãng hàng đầu Việt Nam")=meta_description_saleoff
          .form-group
            label.col-sm-2.control-label Trang sản phẩm - Meta Description
            .col-sm-10
              textarea.form-control(rows="6" name="meta_description_product" placeholder="MIA.vn Hệ Thống Siêu Thị bán lẻ vali, balo, túi xách, phụ kiện chính hãng hàng đầu Việt Nam")=meta_description_product
