extends ./layout.pug
block pre-include
  - var menu = 'setting'
  - var childMenu = 'setting'
  title Setting Desktop

block post-include
  script(src=staticURI() + '/js/admin/setting.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a Website
        
    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin.btn-update-setting-website
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content
    .box
      .box-body
        .form-horizontal
          .col-xs-12
            p WEBSITE
            .box-body
              .form-group
                label.col-sm-2.control-label Tên cửa hàng
                .col-sm-10
                  input.form-control(name="shop_name" placeholder="Shop ABC" value=shop_name)
              .form-group
                label.col-sm-2.control-label Địa chỉ
                .col-sm-10
                  input.form-control(name="shop_address" placeholder="123 Cách Mạng Tháng 8, P15, Q3" value=shop_address)
              .form-group
                label.col-sm-2.control-label Hotline 1
                .col-sm-10
                  input.form-control(name="hotline1" placeholder="0123456789" value=hotline1)
              .form-group
                label.col-sm-2.control-label Hotline 2
                .col-sm-10
                  input.form-control(name="hotline2", placeholder="0123456789" value=hotline2)
    .box
      .box-body
        .form-horizontal
          .col-xs-12
            p PHÍ GIAO HÀNG
            .box-body
              .form-group.clearfix
                label.col-sm-2.control-label Giao hàng miễn phí
                .col-sm-10
                  input.form-control(name="free_shipping" value=free_shipping placeholder="Giá trị đơn hàng tối thiểu")
              .form-group.clearfix
                label.col-sm-2.control-label Nội thành
                .col-sm-10
                  input.form-control(name="price_urban" value=price_urban placeholder="20000")
              .form-group.clearfix
                label.col-sm-2.control-label Ngoại thành
                .col-sm-10
                  input.form-control(name="price_suburban" value=price_suburban placeholder="40000")
    .box
      .box-body
        .form-horizontal
          .col-xs-12
            p SEO
            .box-body
              .form-group
                label.col-sm-2.control-label Meta Title
                .col-sm-10
                  input.form-control(name="meta_title_default" placeholder="Meta Title" value=meta_title_default)
              .form-group
                label.col-sm-2.control-label Meta Description
                .col-sm-10
                  textarea.form-control(rows="6" name="meta_description_default" placeholder="Meta Description")=meta_description_default
              .form-group
                label.col-sm-2.control-label Facebook Pixel
                .col-sm-10
                  textarea.form-control(rows="6" name="facebook_pixel" placeholder="Facebook pixel")=facebook_pixel
              .form-group.clearfix
                label.col-sm-2.control-label Facebook Image
                form.col-sm-10
                  if facebook_image
                    img(src="/uploads/" + facebook_image, style="max-width: 100%;")
                  else
                    img(src=staticURI() + "/img/default_image.png", style="max-width: 100%;")
                  input.upload.form-control(type="file" name="upload[]" data-type="image")
                  input.upload-value(type="hidden" name="facebook_image" value=facebook_image)
    .box
      .box-body
        .form-horizontal
          .col-xs-12
            p TRANG CHỦ
            .form-group.clearfix
              label.col-sm-2.control-label Nhóm sản phẩm nổi bật 1
              form.col-sm-10
                .row
                  .col-xs-6
                    input.form-control(name="index_collection_title_1", placeholder="Tiêu đề", value=index_collection_title_1)
                  .col-xs-6
                    select.form-control(name="index_collection_id_1", data-value=index_collection_id_1)
                      option(value="" selected disabled) Chọn nhóm sản phẩm
                      each item in collections
                        option(value=item.id)=item.breadcrumb
            .form-group.clearfix
              label.col-sm-2.control-label Nhóm sản phẩm nổi bật 2
              form.col-sm-10
                .row
                  .col-xs-6
                    input.form-control(name="index_collection_title_2", placeholder="Tiêu đề", value=index_collection_title_2)
                  .col-xs-6
                    select.form-control(name="index_collection_id_2", data-value=index_collection_id_2)
                      option(value="" selected disabled) Chọn nhóm sản phẩm
                      each item in collections
                        option(value=item.id)=item.breadcrumb
            .form-group.clearfix
              label.col-sm-2.control-label Nhóm sản phẩm nổi bật 3
              form.col-sm-10
                .row
                  .col-xs-6
                    input.form-control(name="index_collection_title_3", placeholder="Tiêu đề", value=index_collection_title_3)
                  .col-xs-6
                    select.form-control(name="index_collection_id_3", data-value=index_collection_id_3)
                      option(value="" selected disabled) Chọn nhóm sản phẩm
                      each item in collections
                        option(value=item.id)=item.breadcrumb
    .box
      .box-body
        .form-horizontal
          .col-xs-12
            p LIVE CHAT
            .form-group.clearfix
              label.col-sm-2.control-label Script
              form.col-sm-10
                textarea.form-control(name="livechat", rows="10")=livechat
