extends ./layout.pug
block pre-include
  - var menu = 'setting'
  - var childMenu = 'desktop'
  title Setting Desktop

block post-include
  script(src=staticURI() + '/js/admin/setting.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a Desktop
        
    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin.btn-update-setting-desktop
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.article
    .box.box-info
      .form-horizontal.form-shop-info
        .box-body
          .form-group
            label.col-sm-2.control-label Hotline 1
            .col-sm-10
              input.form-control(name="hotline1" placeholder="Hotline 1" value=hotline1)
          .form-group
            label.col-sm-2.control-label Hotline 2
            .col-sm-10
              input.form-control(name="hotline2", placeholder="Hotline 2" value=hotline2)
          .form-group
            label.col-sm-2.control-label Chính sách bán hàng
              br
              | (trang sản phẩm)
            .col-sm-10
              textarea.form-control(rows="10" name="sale_policy")=sale_policy
          .form-group
            label.col-sm-2.control-label Footer (Menu chính sách)
            .col-sm-10
              textarea.form-control(rows="10" name="footer1")=footer1
          .form-group
            label.col-sm-2.control-label Footer (Hệ thống chi nhánh)
            .col-sm-10
              textarea.form-control(rows="10" name="footer2")=footer2
          .form-group.clearfix
            label.col-sm-2.control-label Banner mua hàng footer
            form.col-sm-10
              if banner_shopping_footer
                img(src="/uploads/" + banner_shopping_footer, style="max-width: 100%;")
              else
                img(src=staticURI() + "/img/default_image.png", style="max-width: 100%;")
              input.upload.form-control(type="file" name="upload[]" data-type="image")
              input.upload-value(type="hidden" name="banner_shopping_footer" value=banner_shopping_footer)
          .form-group.clearfix
            label.col-sm-2.control-label Banner góp ý - khiếu nại footer
            form.col-sm-10
              if banner_complain_footer
                img(src="/uploads/" + banner_complain_footer, style="max-width: 100%;")
              else
                img(src=staticURI() + "/img/default_image.png", style="max-width: 100%;")
              input.upload.form-control(type="file" name="upload[]" data-type="image")
              input.upload-value(type="hidden" name="banner_complain_footer" value=banner_complain_footer)
          .form-group.clearfix
            label.col-sm-2.control-label Banner SaleOff
            form.col-sm-10
              if banner_saleoff
                img(src="/uploads/" + banner_saleoff, style="max-width: 100%;")
              else
                img(src=staticURI() + "/img/default_image.png", style="max-width: 100%;")
              input.upload.form-control(type="file" name="upload[]" data-type="image")
              input.upload-value(type="hidden" name="banner_saleoff" value=banner_saleoff)