extends ./layout.pug

block pre-include
  - var menu = 'extension';
  - var childMenu = 'slider';
  title Slider

block post-include
  script(src=staticURI() + '/js/admin/slider.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a Slider

    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin(data-toggle="modal" data-target="#modal-add-slide") Thêm slider

  section.content
    .box
      .box-body
        table.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
          thead
            tr
              th Tiêu đề
              th Hình ảnh
              th Link
              th Hiển thị
              th
          tbody
            each slider in sliders
              tr
                td.col-sm-2.title=slider.title
                td.col-sm-5.image
                  if slider.image
                    img(src="/uploads/" + slider.image, alt="Image")
                  else
                    img(src=staticURI() + "/img/default_image.png", alt="Image")
                td.col-sm-2.link
                  if slider.link
                    a(href=slider.link target="blank")=slider.link
                td.col-sm-2.display=slider.display == 1 ? "Có" : "Không"
                td.col-sm-2
                  a.btn-edit-slide.btn-edit(data-id=slider.id)
                    i.fa.fa-pencil-square-o
                  a.btn-remove-slide.btn-remove(data-id=slider.id)
                    i.fa.fa-trash

      #modal-add-slide.modal-add-slide.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Thêm slider
            .modal-body.clearfix
              .form-horizontal
                .box-body
                  .form-group
                    label.col-sm-2.control-label Tiêu đề 
                    .col-sm-10
                      input.form-control(type="text" name="title" placeholder="Tiêu đề")
                  .form-group
                    label.col-sm-2.control-label Hình ảnh
                    form.col-sm-10.form-upload-image
                      img(src=staticURI() + "/img/default_image.png")
                      input.upload.form-control(type="file" name="upload[]")
                      input(type="hidden" name="image")
                  .form-group
                    label.col-sm-2.control-label Link
                    .col-sm-10
                      input.form-control(type="text" name="link" placeholder="Link")
                  .form-group
                    label.col-sm-2.control-label Hiển thị
                    .col-sm-10
                      select.form-control(name="display")
                        option(value="1") Có
                        option(value="0") Không
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Hủy
              button.btn.btn-primary.btn-add-slide(type='button') Đồng ý


      #modal-edit-slide.modal-edit-slide.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Chỉnh sửa slider
            .modal-body.clearfix
              .form-horizontal
                .box-body
                  .form-group
                    label.col-sm-2.control-label Tiêu đề 
                    .col-sm-10
                      input.form-control(type="text" name="title")
                  .form-group
                    label.col-sm-2.control-label Hình ảnh
                    form.col-sm-10.form-upload-image
                      img(src=staticURI() + "/img/default_image.png")
                      input.upload.form-control(type="file" name="upload[]")
                      input(type="hidden" name="image")
                  .form-group
                    label.col-sm-2.control-label Link
                    .col-sm-10
                      input.form-control(type="text" name="link")
                  .form-group
                    label.col-sm-2.control-label Hiển thị
                    .col-sm-10
                      select.form-control(name="display")
                        option(value="1") Có
                        option(value="0") Không
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Hủy
              button.btn.btn-primary.btn-update-slide(type='button') Cập nhật
