extends ./layout.pug

block pre-include
  title=article.title
  if fb_image
    - ogImage = fb_image
  if article.meta_description
    - metaDescription = article.meta_description
  if article.meta_robots
    - meta_robots = article.meta_robots;
  - metaTitle = article.title
  
block content
  .news-detail.container
    .col-xs-12.left
      .content.row
        h1.title=article.title
        p.description
          b=article.description
        section !{article.content}
        .author=article.author
      .sharing.hidden-xs.row
        .share-icon
          .share-now CHIA SẺ NGAY 
          .social-icon
            span.middle-inline-block
            i.fa.fa-facebook
          .social-icon
            span.middle-inline-block
            i.fa.fa-google-plus
      - var relatedArticles = getRelatedArticle(article.id)
      if count(relatedArticles)
        .relative-news.hidden-xs.row 
          .title 
            a BÀI VIẾT LIÊN QUAN
              .border
          each article in related_article
            .item
              .col-sm-2.avatar(href='/article/' + article.handle, style="background:url('/uploads/"+resize(article.image, 240)+"')" ) 
              .col-sm-10
                .news-title 
                  a(href='/article/' + article.handle)=article.title
                .news-content=article.description
      - var hotArticles = getHotArticle(article.id)
      if count(hotArticles)
        .relative-news.hidden-xs.row 
          .title 
            a BÀI VIẾT NỔI BẬT
              .border
          each article in hot_article
            .item
              .col-sm-2.avatar(href='/article/' + article.handle, style="background:url('/uploads/"+resize(article.image, 240)+"')" ) 
              .col-sm-10
                .news-title 
                  a(href='/article/' + article.handle)=article.title
                .news-content=article.description
