extends ./layout.pug

block pre-include
  title=article.title
  if fb_image
    - ogImage = fb_image
  if article.description_seo
    - metaDescription = article.description_seo
  if article.meta_robots
    - meta_robots = article.meta_robots;
  - metaTitle = article.title
  
block content
  .news-detail.container
    include snippet/breadcrumb
    .col-xs-12.left
      .content.row
        h1=article.title
        p
          b=article.description
        section !{article.content}
        .author=article.author
      .sharing.hidden-xs.row
        .share-icon
          .share-now CHIA SẺ NGAY 
          .social-icon
            span.middle-inline-block
            i.fa.fa-facebook
          .social-icon
            span.middle-inline-block
            i.fa.fa-google-plus
      - var articleDetail = getArticleDetail(article.hanle, article.id);
      if countArr(articleDetail.related)
        .relative-news.hidden-xs.row 
          .title 
            a BÀI VIẾT LIÊN QUAN
              .border
          each article in articleDetail.related
            .item
              .col-sm-2.avatar(href='/article/' + article.handle, style="background:url('/uploads/"+resize(article.image, 240)+"')" ) 
              .col-sm-10
                .news-title 
                  a(href='/article/' + article.handle)=article.title
                .news-content=article.description
      if countArr(articleDetail.hot_article)
        .hot-articles.hidden-xs.row 
          .title 
            p BÀI VIẾT NỔI BẬT
              .border
          each article in articleDetail.hot_article
            .item
              .col-sm-2.avatar(href='/article/' + article.handle, style="background:url('/uploads/"+resize(article.image, 240)+"')" ) 
              .col-sm-10
                .news-title 
                  a(href='/article/' + article.handle)=article.title
                .news-content=article.description
