extends ./layout.pug

block pre-include
  title Hệ thống cửa hàng

block content
  .branch.container
    include snippet/breadcrumb
    - var stt = 0
    each region in regions
      .col-sm-12.title.row=region.name
      .row
        each item in region.branchs
          - stt++
          .col-xs-12.col-sm-6.detail.clearfix
            .col-sm-6.pd-0.info.col-xs-12
              img(src="/images/icon_branch.png", alt="icon_branch.png")
              a.name(href=item.link) Chi nhánh !{stt}
              .address=item.address
              .open-time Giờ mở cửa: 
                b=item.open_hours
              .open-time Giờ đóng cửa: 
                b=item.close_hours
            .col-sm-6.pd-0.avarta.col-xs-12
              - var thumb = resize(item['featured_image'], 240);
              img(src="/uploads/!{thumb}", alt="Chi nhánh !{stt}")
