extends ./layout.pug

block pre-include
  title Tin tức tổng hợp
  - var canonical = canonical(page_number, total_pages);
  //- | #{canonical}
  if fb_image
    - ogImage = fb_image
block post-include
  script(src=themeURI() + '/libs/twbsPagination.min.js')
  link(rel='stylesheet', href=themeURI() + '/libs/owl.carousel.min.css')
  script(src=themeURI() + '/libs/owl.carousel.min.js')

block content
  .news.container
    include snippet/breadcrumb
    if page_number == 1
      .col-sm-8.left.col-xs-12
        .row.top
          .news-slider-carousel.owl-carousel
            each item,index in data
              if index < 3
                .item.active
                  a.cover(href=fullUrl(item.link))
                    img(src="/uploads/" + item.image)
                    .title(href=fullUrl(item.link))
                      h2=item.title
                      .description !{item.description}
        .row.bottom
          .col-xs-12
            each item,index in data
              if index > 2
                .col-xs-12.col-sm-12.news-update
                  .row
                    a.col-sm-4.col-xs-4(href=fullUrl(item.link))
                      .row
                        - var thumb = themeURI() + '/img/article_default.png';
                        if item.image
                          - var thumb = '/uploads/' + resize(item.image, 240);
                        img(src=thumb data-src=thumb)
                    .col-sm-8.col-xs-8.news-name
                      a(href=fullUrl(item.link))
                        h3=item.title
                      .date=ddMMYYYY(item.updated_at)
                      .news-content=item.description
    if page_number > 1
      .col-sm-8.left.col-xs-12
        each item in data
          .news-update.col-sm-12.col-xs-12
              - var image = resize(item.image, 480);
              a.col-sm-3.col-xs-4(href=fullUrl(item.link))
                .row
                  - var thumb = themeURI() + '/img/article_default.png';
                  if item.image
                    - var thumb = '/uploads/' + resize(item.image, 240);
                  img(src=thumb data-src=thumb)
              .col-sm-9.col-xs-8.news-name
                a(href=fullUrl(item.link))=item.title
                .date=ddMMYYYY(item.updated_at)
                .news-content=item.description
    .col-sm-4.hot-news.col-xs-12.hidden-xs
      .row
        .col-xs-12
          .news-type Tin tức nổi bật
          ul.col-xs-12
            each item,index in hot_news
              if index == 0 
                li
                  img(src="/uploads/" + resize(item.image, 240))
                  a.clearfix(href=fullUrl(item.link))=item.title
              else
                li
                  a.clearfix(href=fullUrl(item.link))=item.title
    if total_pages > 1
      #pagination.col-sm-12.text-right(data-page_number=page_number data-total=total_pages)
