<div class="wrapper-item-product-loop">
  <div class="item-product-loop">
    {% set link = 'san-pham/' + product['handle']  %}
    {% set fullUrl = {{link | fullUrl}} %}
    {% set brand_link = 'thuong-hieu/' + product.brand_url  %}
    {% set fullBrandlink = {{brand_link | fullUrl}}  %}
    <a>.wrap-image(href=fullUrl)
      {% set src = "{{themeURI()}}/img/default_image.png" %}
      {% set src = '/uploads/' + {{product.featured_image | resize('240')}} %}
      <img class="main-image" src="{{src}}" data-src="{{src}}" alt="{{product.title}}" data-title="{{product.title}}" data-handle="{{product.handle}}" />
      {% if not {{product.id | inInventory}}  %}
        <p>{{product.product_id}}</p>
        <div class="out-of-stock">HÀNG TẠM HẾT</div>
      {% endif %}
    </a>
    <h3 class="title">
      <a href="#">{{product.title}}</a>
    </h3>
  </div>
</div>
