<div class="sidebar clearfix" data-id="{{collection.id}}">
  <div class="filter-sidebar clearfix">
    {% if {{list_size | count}} %}
      <div class="item.clearfix" data-type="size">
        <a class="title-filter">ích thước</a>
        <ul class="col-xs-12">
          {% for item in list_size %}
            <li data-value="{{item.id}}">
              <img src="{{themeURI()}}/<img/checkbox.jp}" />
              <label class="checkbox"></label>
              <span>{{item.title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if count(list_brand) %}
      <div class="item item-brand clearfix" data-type="brand">
        <a class="title-filter">Thương hiệu</a>
        //- input.filter-brand(placeholder="Thương hiệu cần tìm ...")
        <ul class="col-xs-12">
          {% for item in list_brand %}
            <li data-value="{{item.id}}">
              <img src="{{themeURI()}}/img/checkbox.jpg" />
              <label class="checkbox"></label>
              <span>{{item.title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if count(list_bag) %}
      <div class="item.clearfix" data-type="bag">
        <a class="title-filter">Ngăn đựng laptop</a>
        <ul class="col-xs-12">
          {% for item in list_bag %}
            <li data-value="{{item.id}}">
              <img src="{{themeURI()}}/img/checkbox.jpg" />
              <label class="checkbox"></label>
              <span>{{item.title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if count(list_material) %}
      <div class="item.clearfix" data-type="material">
        <a class="title-filter">Chất liệu</a>
        <ul class="col-xs-12">
          {% for item in list_material %}
            <li data-value="{{item.id}}">
              <img src="{{themeURI()}}/img/checkbox.jpg" />
              <label class="checkbox"></label>
              <span>{{item.title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if count(list_special) %}
      <div class="item.clearfix" data-type="special">
        <a class="title-filter">Tính năng đặc biệt</a>
        <ul class="col-xs-12">
          {% for item in list_special %}
            <li data-value="{{item.id}}">
              <img src="{{themeURI()}}/img/checkbox.jpg" />
              <label class="checkbox"></label>
              <span>{{item.title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="item item-price clearfix" data-type="price">
      <a class="title-filter">Giá tiền</a>
      <ul class="col-xs-12">
        - var price = getPriceFilter();
        {% for item in price %}
          <li data-value="{{item.id}}">
            <img src="{{themeURI()}}/img/checkbox.jpg" />
            <label class="checkbox"></label>
            <span>{{item.title}}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if count(list_color) %}
      <div class="item item-color clearfix" data-type="color">
        <a class="title-filter">Màu sắc</a>
        <ul class="col-xs-12">
          {% for item in list_color %}
            <li data-value="{{item.name}}" style="{{item.style}}")>
              <i class="fa fa-check-circle"></i>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
