- var role = role();
aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header
        a.logo-admin(href="/")
          img(src=staticURI() + '/img/eye-logo.png')
      - var itemClass = (menu == 'product' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="#")
          i.fa.fa-product-hunt
          span Sản phẩm
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'new' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/products/new')
              i.fa.fa-circle
              | Thêm sản phẩm
          - var liClass = (childMenu == 'collection' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/collections')
              i.fa.fa-circle
              | Nhóm sản phẩm
          - var liClass = (childMenu == 'product' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/products')
              i.fa.fa-circle
              | Danh sách sản phẩm
          - var liClass = (childMenu == 'filter' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/filters')
              i.fa.fa-circle
              | Thuộc tính
          - var liClass = (childMenu == 'price' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/price')
              i.fa.fa-circle
              | Bộ lọc giá
      - var itemClass = (menu == 'order' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='/admin/order')
          i.fa.fa-reorder
          span Đơn hàng
      - var itemClass = (menu == 'customer' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="#")
          i.fa.fa-users
          span Khách hàng
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'customer' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/customer', class=liClass)
              i.fa.fa-circle
              | Tất cả khách hàng
          - var liClass = (childMenu == 'subscribe' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/subscribe')
              i.fa.fa-circle
              | Subscribe
      - var itemClass = (menu == 'article' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='#')
          i.fa.fa-book
          span Bài viết
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'blog' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/blogs', class=liClass)
              i.fa.fa-circle
              | Blog
          - var liClass = (childMenu == 'article' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/articles', class=liClass)
              i.fa.fa-circle
              | Bài viết
          - var liClass = (childMenu == 'page' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/pages', class=liClass)
              i.fa.fa-circle
              | Trang nội dung
      - var itemClass = (menu == 'setting' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='#')
          i.fa.fa-cog
          span Thiết lập
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'index' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/settings/index')
              i.fa.fa-circle
              | Trang chủ
          - var liClass = (childMenu == 'desktop' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/settings/desktop")
              i.fa.fa-circle
              | Desktop
          - var liClass = (childMenu == 'meta' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/settings/meta")
              i.fa.fa-circle
              | Title, Meta Description
          - var liClass = (childMenu == 'seo' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/settings/seo")
              i.fa.fa-circle
              | SEO
          - var liClass = (childMenu == 'redirect' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/redirect")
              i.fa.fa-circle
              | Redirect 301
          - var liClass = (childMenu == 'custom-css' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/custom-css")
              i.fa.fa-circle
              | Custom CSS
          - var liClass = (childMenu == 'livechat' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/livechat")
              i.fa.fa-circle
              | LiveChat
          - var liClass = (childMenu == 'images' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/images")
              i.fa.fa-circle
              | Hình ảnh
      - var itemClass = (menu == 'setting_extend' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='#')
          i.fa.fa-cogs
          span Mở rộng
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'slider' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/slider')
              i.fa.fa-circle
              | Slider
          - var liClass = (childMenu == 'celebrity' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/celebrity')
              i.fa.fa-circle
              | Người nổi tiếng
          - var liClass = (childMenu == 'video' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/video')
              i.fa.fa-circle
              | Video
          - var liClass = (childMenu == 'subMenu' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/menu")
              i.fa.fa-circle
              | Menu
          - var liClass = (childMenu == 'branch' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/branch")
              i.fa.fa-circle
              | Chi nhánh
      - var itemClass = (menu == 'staff' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="/admin/users")
          i.fa.fa-user
          span Nhân viên
    .foot
      .info
        p
          - var fullname = fullname();
          b=fullname
        p
          a(data-toggle="modal" data-target="#modal-change-password" href="#" style="display:inline-block;") Đổi mật khẩu -
          a(href='/admin/logout') &nbsp;Đăng xuất
