- var role = role();
aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header
        a.logo-admin(href="/")
          img(src=staticURI() + '/img/eye-logo.png')
      - var itemClass = (menu == 'product' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="#")
          i.fa.fa-product-hunt
          span Sản phẩm
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'new' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/product/new')
              i.fa.fa-circle
              | Thêm sản phẩm
          - var liClass = (childMenu == 'collection' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/collection')
              i.fa.fa-circle
              | Nhóm sản phẩm
          - var liClass = (childMenu == 'product' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/product')
              i.fa.fa-circle
              | Danh sách sản phẩm
          - var liClass = (childMenu == 'attribute' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/attribute')
              i.fa.fa-circle
              | Thuộc tính
          - var liClass = (childMenu == 'price' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/price')
              i.fa.fa-circle
              | Bộ lọc giá
      - var itemClass = (menu == 'order' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='/admin/order')
          i.fa.fa-reorder
          span Đơn hàng
      - var itemClass = (menu == 'customer' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="/admin/customer")
          i.fa.fa-users
          span Khách hàng
      - var itemClass = (menu == 'article' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='#')
          i.fa.fa-book
          span Bài viết
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'blog' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/blogs', class=liClass)
              i.fa.fa-circle
              | Blog
          - var liClass = (childMenu == 'article' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/articles', class=liClass)
              i.fa.fa-circle
              | Bài viết
          - var liClass = (childMenu == 'page' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/pages', class=liClass)
              i.fa.fa-circle
              | Trang nội dung
      - var itemClass = (menu == 'setting' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href='#')
          i.fa.fa-cog
          span Thiết lập
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - var liClass = (childMenu == 'setting' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/setting")
              i.fa.fa-circle
              | Website
          - var liClass = (childMenu == 'menu' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/menu")
              i.fa.fa-circle
              | Menu
          - var liClass = (childMenu == 'slider' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/slider')
              i.fa.fa-circle
              | Slider
          - var liClass = (childMenu == 'video' ? 'active' : '');
          li(class=liClass)
            a(href='/admin/video')
              i.fa.fa-circle
              | Video
          - var liClass = (childMenu == 'redirect' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/redirect")
              i.fa.fa-circle
              | Redirect 301
          - var liClass = (childMenu == 'images' ? 'active' : '');
          li(class=liClass)
            a(href="/admin/images")
              i.fa.fa-circle
              | Hình ảnh
      - var itemClass = (menu == 'user' ? 'active' : 'item');
      li.treeview(class=itemClass)
        a(href="/admin/user")
          i.fa.fa-user
          span Nhân viên
    .foot
      .info
        p
          - var name = name();
          b=name
        p
          a(data-toggle="modal" data-target="#modal-change-password" href="#" style="display:inline-block;") Đổi mật khẩu -
          a(href='/admin/logout') &nbsp;Đăng xuất
